<section class="is-gallery">
	<div class="row half">


<div controller="UsersViewController">
	<div ng-repeat="user in users" class="col-md-12" id="userItemRenderer">
		<div class="col-md-4">
			<div class="userItem">
				<h7>Name:</h7><div ng-click="selectUserToEdit($event, user)" click-to-edit="user.name"></div>
				<h7>
					Phone: {{user.phone}}
				</h7>
				<h7>
					Messages: {{user.messages.length}}
				</h7><br><select ng-model="currentMessage.id">
					<option ng-repeat="message in user.messages" value="{{message.id}}">
						{{message.user_name || message.from}}
					</option>
				</select>
			</div>
		</div>
		<div class="col-md-8 messageBody">
			<div ng-repeat="message in user.messages | filter:{id: currentMessage.id} | limitTo:1" class="message">
				<h7>
					From: {{message.user_name || message.from}}
				</h7><br><label><input type="checkbox" ng-model="message.read" ng-click="updateSelection($event, message)"> Mark as Read</label><br><br>
				
				<p>
					{{message.text}}
				</p>
			</div>
		</div>
	</div>
</div>

</div>
</section>